body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  background-color: #000;
  overflow: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-top: 5px solid purple;
  padding: 10px 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Background */
.background {
  background: url("bg.jpg") center/cover no-repeat;
  filter: brightness(0.4);
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* Form Container */
.form-container {
  background: white;
  width: 70%;
  max-width: 800px;
  margin: 80px auto;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form-container h2 {
  background: #0b5d32;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 30px;
}

.form-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 25px;
}

.form-row input {
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  font-size: 15px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  border: none;
  padding: 12px 40px;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button.cancel {
  background: #a51919;
}

button.next {
  background: #0b5d32;
}

button.cancel:hover {
  background: #b93434;
}

button.next:hover {
  background: #157c45;
}
