* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;

}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
    padding-right: 30px;
}

.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
